.image1, .image2
{
    height: 100px;
    width: 100px;
}
.mainPage
{
    background-color: #000000;
}
.playbtn
{
    margin-top: 3%;
}
#title
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.diceGame #player1, .diceGame #player2
{
    margin-top: 7%;
}
#player1
{
    margin-right: 4%;
}
.diceGame h5
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 10%;
}
.playbtn .btn-outline-success
{
    color: #000000;
    border-color: #adb42d;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
.playbtn .btn
{
    background-color: #adb42d;
    padding-right: 4%;
    padding-left: 4%;
    margin-top: 2%;
}
.titleSec, .choosePlayer
{
    background-color: #adb42d;
    margin-top: 1.5%;
}